.preloader {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0 40px;
}

span.load {
  display: flex;
  position: relative;
  animation: rotateLoad infinite linear 1s;
}
span.load.mini{ width: 15px; height: 15px; }
span.load.little { width: 25px; height: 25px; }
span.load { width: 60px; height: 60px; }
span.load:before,
span.load:after {
  display: flex;
  position: absolute;
  content: '';
  background: #222426;
  border-radius: 50%;
  width: 55%;
  height: 55%;
}
span.load:before { right: 0; bottom: 0; animation: scaleChange_1 infinite linear 1s; }
span.load:after { top: 0; left: 0; animation: scaleChange_2 infinite linear 1s; }
span.load.error:before,
span.load.error:after { background: #d00; }
span.load.mini:after { border-width: 2px; }
span.load.little:after { border-width: 3px; }
span.load:after { border-width: 8px; }

.errorText {
  margin-top: 30px;
  display: block;
  color: #d00;
  font-size: 14px;
  transform: scale(0);
  animation: show .3s linear;
  animation-fill-mode: forwards;
}

@keyframes rotateLoad {
  0%		{ transform: rotate(0deg); }
  100%	{ transform: rotate(360deg); }
}
@keyframes scaleChange_1 {
  0%		{ transform: scale(1); }
  50%		{ transform: scale(0); }
  100%	{ transform: scale(1); }
}
@keyframes scaleChange_2 {
  0%		{ transform: scale(0); }
  50%		{ transform: scale(1); }
  100%	{ transform: scale(0); }
}
@keyframes show {
  0%		{ transform: scale(0); opacity: 0; }
  50%		{ transform: scale(.5); opacity: .5; }
  100%	{ transform: scale(1); opacity: 1; }
}